<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111383023-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-111383023-1');
  </script>
</head>
<header>
  <div class="container-fluid text-center">
    <h1 class="maintext" > UVC TECH </h1>
    <div class="maintextcontainer maintext">
    <img src="/images/people.jpg"  alt="people" style="width:100% ">
      <div class="mainhovertext" style="width: 100%" >
    </div>
    <h1 class="maintext"style="padding-bottom:6%">Proven preventative solutions to surface bacteria.<br>Seemlessly integrate UVC Tech into your existing hardware.</h1>


         <div class="row ">
           <div class="col-md-6 text-center">
              <div class="logoindex">
                <h3>Elevator Button Cover (EBC) </h3>
                  <img src="/images/UVCTechElevatorButton.jpg"  alt="Apoorva" style="width:50%">
                  <div class="overlay">
                    <a href="products">
                      <div class="hovertext" style="width: 90%" class="align-left">
                        <h2 class="font-weight-bold text-center">Universal anti-bacterial adhesive elevator button covers </h2>
                      </div>
                    </a>
                  </div>
              </div>
            </div>

            <div class="col-md-6 text-center">
               <div class="logoindex">
                 <h3>Shopping Cart Handle Cover (SCHC)</h3>
                   <img src="/images/shopping-cart.png" class="img-centered" alt="shopping cart" style="width:50%">
                   <div class="overlay">
                     <a href="products">
                       <div class="hovertext" style="width: 90%">
                         <h2 class="font-weight-bold text-center">Anti-bacterial covering for shopping cart handles and railings</h2>
                         </div>
                     </a>
                   </div>
               </div>
             </div>
         </div>
         <div class="row ">
           <div class="col-md-6 text-center">
              <div class="logoindex">
                <h3>Door Knob Cover (DKC)</h3>
                  <img src="/images/UVCtech_doorknob_Chsu.jpg"  alt="Apoorva" style="width:50%">
                  <div class="overlay">
                    <a href="products">
                      <div class="hovertext" style="width: 90%" class="align-left">
                        <h2 class="font-weight-bold text-center">Anti-bacterial adhesive door knob covers (Interior and Exterior)</h2>
                      </div>
                    </a>
                  </div>
              </div>
            </div>

            <div class="col-md-6 text-center">
               <div class="logoindex">
                 <h3>Handle Cover (HC)</h3>
                   <img src="/images/UVCTechDoorHandle.jpg" class="img-centered" alt="shopping cart" style="width:50%">
                   <div class="overlay">
                     <a href="products">
                       <div class="hovertext" style="width: 90%">
                         <h2 class="font-weight-bold text-center">Anti-bacterial covers for door handles, bike grips, and many other applications</h2>
                         </div>
                     </a>
                   </div>
               </div>
             </div>
         </div>
         <div class="row ">
           <div class="col-md-6 text-center">
              <div class="logoindex">
                <h3>Accesibility Plate Cover (APC)</h3>
                  <img src="/images/wheel chair.png"  alt="Apoorva" style="width:50%">
                  <div class="overlay">
                    <a href="products">
                      <div class="hovertext" style="width: 90%" class="align-left">
                        <h2 class="font-weight-bold text-center">Standard sized anti-bacterial accesibility push plate covers</h2>
                      </div>
                    </a>
                  </div>
              </div>
            </div>

            <div class="col-md-6 text-center">
               <div class="logoindex">
                 <h3>On the Go Mini(OTG-M)</h3>
                   <img src="/images/logo-main.png" class="img-centered" alt="shopping cart" style="width:50%">
                   <div class="overlay">
                     <a href="products">
                       <div class="hovertext" style="width: 90%">
                         <h2 class="font-weight-bold text-center">An anti-bacterial container to destroy harmful bacteria on the go</h2>
                         </div>
                     </a>
                   </div>
               </div>
             </div>
         </div>

         <!-- core values UVC Tech  -->
         <div class=""  style ="font-size:27px;">
           <h1 class="maintext" style="padding:3% 0 3% 0;">A better Canada through technology</h1>
           <div class="row"  >
             <div class= "col-lg-12 text-center">
               <h1 class="maintext">Core Values</h1>
             </div>
           </div>

           <div class="row"  >
             <div class= "col-md-3 text-center">
               <div class="logoindex">
                   <img src="/images/CoreValue_Respect.png" class="img-centered" alt="shopping cart" style="width:75%">
                   <div class="overlay">
                     <a href="products">
                       <div class="hovertext" style="width: 90%">
                         <p class="font-weight-bold text-center">We demonstrate honesty, fairness, openness and clear
                           boundaries in all our interactions, behaviours and practices within the organisation and with
                           our guests, stakeholders and the wider community.</p>
                       </div>
                     </a>
                   </div>
               </div>
               <caption>Pride &amp; Respect</caption>
             </div>
             <div class= "col-md-3 text-center">
               <div class="logoindex">
                   <img src="/images/CoreValue_Safety_Quality.png" class="img-centered" alt="shopping cart" style="width:75%">
                   <div class="overlay">
                     <a href="products">
                       <div class="hovertext" style="width: 90%">
                         <p class="font-weight-bold text-center">Respecting the value of human life, delivering value through performance, innovation and sustainability</p>
                       </div>
                     </a>
                   </div>
               </div>
               <caption>Safety &amp; Quality</caption>
             </div>
             <div class= "col-md-3 text-center">
               <div class="logoindex">
                   <img src="/images/CoreValue_Transparency.png" class="img-centered" alt="shopping cart" style="width:75%">
                   <div class="overlay">
                     <a href="products">
                       <div class="hovertext" style="width: 90%">
                         <p class="font-weight-bold text-center">Acting honestly, ethically and responsibly in all aspects of our business.
                            We believe that transparency at its core is honesty, and it's a value that we want to live by no matter what</p>
                       </div>
                     </a>
                   </div>
               </div>
               <caption>Integrity &amp; Transparency</caption>
             </div>
             <div class= "col-md-3 text-center">
               <div class="logoindex">
                   <img src="/images/CoreValue_Teamwork.png" class="img-centered" alt="shopping cart" style="width:75%">
                   <div class="overlay">
                     <a href="products">
                       <div class="hovertext" style="width: 90%">
                         <p class="font-weight-bold text-center">We embrace technology, promote clean technology and other sustainable business
                            practices while constantantly upgrading and improving our services and products</p>
                       </div>
                     </a>
                   </div>
               </div>
               <caption>Innovation &amp; Teamwork</caption>
             </div>
           </div>
         </div>
    </div>
