<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111383023-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-111383023-1');
  </script>
</head>
<!-- Main title products UVC Tech  -->
<div class="row" style ="padding: 0 0 7% 0;">
  <div class= "col-lg-12 text-center">
    <h1 class="maintext">{{title}}</h1>
    <h2 class="maintext">Solutions to Surface Bacteria through Technology<br> Technology that has been designed to withstand Canada's harsh climates</h2>
  </div>
</div>
<div class="row text-white" style="background-color: #4791cd;padding:3% 0 3% 0;">
   <div class="col-md-9 ">
                <h2 class="font-weight-bold">Elevator Button Cover (EBC)<h2>
                <ul>
                  <li>The EBC is made from optically clear Liquid Silicon Rubber (LSR) that is 100% anti-bacterial by nature.
                     The LSR inhibits bacterial growth and has been FDA approved. The LSR resists, UV exposure, is scratch resistant
                      and retains a cosmetic attractiveness throughout its lifecycle.  This enables the EBC LSR to be flexible,
                      temperature stable and withstand harsh cleaning agents and pesticides. </li>
                      <li>The EBC is available in custom sizing (including circular and square buttons) and can be tinted to
                        meet special color specifications. Help eliminate the transfer of surface bacteria. </li>
                  </ul>
     </div>
     <div class="col-md-3 text-center">
        <div class="logoindex">
          <img src="/images/UVCTechElevatorButton.jpg"  alt="ex EBC" style="width:70%">
        </div>
    </div>
</div>
  <div class="maintext row " style ="padding: 3% 0 3% 0;">
      <div class="col-md-3 text-center">
         <div class="">
             <img src="/images/shopping-cart.png"  alt="elevator button" style="width:70%">
        </div>
      </div>
      <div class="col-md-9 ">
               <h2 class="font-weight-bold" >Shopping Cart Handle Cover (SCHC)<h2>
             <ul>
             <li>The SCHC enables consumers to complete day to day shopping while limiting the likelyhood of
                contracting an illness. The SCHC is made from optically clear Liquid Silicon Rubber
               (LSR) that is 100% anti-bacterial by nature. The LSR inhibits
               bacterial growth and has been FDA approved.</li>
               <li>The LSR resists, UV exposure, is scratch resistant and
                 retains a cosmetic attractiveness throughout its lifecycle.
                  This enables the SCHC LSR to be flexible, temperature stable and
                  withstand harsh cleaning agents and pesticides.</li>
             </ul>
        </div>
   </div>

   <div class="row text-white" style="background-color: #4791cd;padding:3% 0 3% 0;">
      <div class="col-md-9 ">
                   <h2 class="font-weight-bold">Exterior Door Knob Cover (E-DKC)<h2>
                   <ul>
                     <li>The Exterior DKC combines optically clear Liquid Silicon Rubber (LSR) that is 100% anti-bacterial
                       by nature with UVC-LEDS LEDS to combat surface bacteria on both the door knob and the hand of
                       the individual touching it. The LSR inhibits bacterial growth and the 4 UVC LED's work together
                       to eliminate up to 99.99% of the harmful bacteria, limiting further outbreak (and has been FDA approved). </li>
                         <li>The E-DKC is battery operated and activates on an infrared motion sensor to maximize product lifetime.
                           it is available in custom sizing to ensure maximum protection</li>
                     </ul>
        </div>
        <div class="col-md-3 text-center">
           <div class="logoindex">
             <img src="/images/exterior door knob.jpg"  alt="ex EBC" style="width:70%">
           </div>
       </div>
   </div>
     <div class="maintext row " style ="padding: 3% 0 3% 0;">
         <div class="col-md-3 text-center">
            <div class="">
                <img src="/images/UVCtech_doorknob_Chsu.jpg"  alt="elevator button" style="width:70%">
           </div>
         </div>
         <div class="col-md-9 ">
                  <h2 class="font-weight-bold" >Door Knob Cover (I-DKC)<h2>
                <ul>
                <li>The I-DKC is made from optically clear Liquid Silicon Rubber (LSR)
                  that is 100% anti-bacterial by nature. The LSR inhibits bacterial growth
                  and has been FDA approved. </li>
                  <li>The I-DKC is made from optically clear Liquid Silicon Rubber (LSR) that
                     is 100% anti-bacterial by nature. The LSR inhibits bacterial growth and has been FDA approved.
                     The LSR resists, UV exposure, is scratch resistant and retains a cosmetic attractiveness
                     throughout its lifecycle. This enables the I-DKC LSR to be flexible, temperature stable and
                     withstand harsh cleaning agents and pesticides. The I-DKC is available in custom sizing to
                     ensure maximum protection. </li>
                </ul>
           </div>
      </div>

   <div class="row text-white" style="background-color: #4791cd;padding:3% 0 3% 0;">
      <div class="col-md-9 ">
                   <h2 class="font-weight-bold">Exterior Handle Cover (E-HC)<h2>
                   <ul>
                     <li>The E-DHC combines optically clear LSR that is 100% anti-bacterial by nature with UVC-LEDS LEDS
                       to combat surface bacteria on both the door handle and the hand
                       of the individual touching it. The LSR inhibits bacterial growth
                       and the 4 UVC LED's work together to eliminate up to 99.99% of the
                       harmful bacteria, eliminating further outbreak.</li>
                     <li>The E-DHC is battery operated and activates on an infrared motion
                       sensor to maximize product lifetime. it is available in custom
                       sizing to ensure maximum protection.</li>
                     </ul>
        </div>
        <div class="col-md-3 text-center">
           <div class="logoindex">
             <img src="/images/exterior handle.jpg"  alt="ex door handle" style="width:70%">
           </div>
       </div>
  </div>
<div class="maintext row " style="padding:3% 0 3% 0">
  <div class="col-md-3 text-center">
     <div class="logoindex">
          <img src="/images/UVCTechDoorHandle.jpg"  alt="door knob" style="width:70%">
     </div>
  </div>
  <div class="col-md-9 ">
               <h2 class="font-weight-bold">Interior Handle Cover (IHC)<h2>
             <ul>
             <li>The I-DKC is made from optically clear Liquid Silicon Rubber
               (LSR) that is 100% anti-bacterial by nature. The LSR inhibits
               bacterial growth and has been FDA approved.</li>
               <li>The LSR resists, UV exposure, is scratch resistant and retains
                 a cosmetic attractiveness throughout its lifecycle.
                 This enables the I-DHC LSR to be flexible, temperature stable
                 and withstand harsh cleaning agents and pesticides.</li>
             </ul>
  </div>
</div>
<div class="row text-white" style="background-color: #4791cd;padding:3% 0 3% 0;">
  <div class="col-md-9 ">
               <h2 class="font-weight-bold">Exterior Accessibility Plate Cover (E-APC)<h2>
               <ul>
                 <li>The E-APC combines optically clear Liquid Silicon Rubber (LSR) that is 100%
                   anti-bacterial by nature with UVC-LEDS LEDS to combat surface bacteria on both
                   the Accessibility Plate Cover and the hand of the individual touching it. The LSR
                   inhibits bacterial growth and the 4 UVC LED's work together to eliminate up to 99.99%
                   of the harmful bacteria, limiting further outbreak (and has been FDA approved). </li>
                 <li>The E-APC is battery operated and activates on an infrared motion sensor to maximize
                   product lifetime. it is available in custom sizing to ensure maximum protection</li>
                 </ul>
  </div>
  <div class="col-md text-center">
     <div class="logoindex">
          <img src="/images/wheel chair.png"  alt="push plate" style="width:70%">
     </div>
  </div>
</div>
<div class="maintext row " style="padding:3% 0 3% 0">
  <div class="col-md-3 text-center">
     <div class="logoindex">
          <img src="/images/wheel chair.png"  alt="door knob" style="width:70%">
      </div>
  </div>
  <div class="col-md-9 ">
               <h2 class="font-weight-bold">Interior Accessibility Plate Cover (I-APC)<h2>
             <ul>
               <li>The E-APC combines opticaly clear Liquid Silicon Rubber (LSR) that is 100%
                  anti-bacterial by nature with UVC-LEDS LEDS to combat surface bacteria on both
                   the Accessibility Plate Cover and the hand of the individual touching it. The
                    LSR inhibits bacterial growth and the 4 UVC LED's work together to eliminate
                    up to 99.99% of the harmful bacteria, limiting futher outbreak (and has been
                    FDA approved). </li>
                 <li>The LSR resists, UV exposure, is scratch resistant and retains a cosmetic
                    attractiveness throughout its lifecycle. This enables the I-DHC LSR to be
                     flexible, temperature stable and withstand harsh cleaning agents and pesticides. </li>
             </ul>
  </div>
</div>
<div class="row text-white" style="background-color: #4791cd;padding:3% 0 3% 0;">
  <div class="col-md-9 ">
               <h2 class="font-weight-bold">ON the Go Mini (OTG-M)<h2>
               <ul>
                 <li>The On the Go Mini is a UVC LED portable device that fits inside purses and small
                   bags that allows consumers to eliminate bacteria from everyday objects.
                   Place anything from money to your sunglasses and relax as the bacteria is destroyed in minutes. </li>
                 <li>The OTG-M is available in customizable colors to fit each individual’s personality
                   and will soon be available in variable sizes.  </li>
                 </ul>
     </div>
  </div>
</div>
</div>
